---
import Section from "@/components/Section.astro";
import { work } from "@cv";
---

<Section title="Work Experience">
  <ul>
    {
      work.map(
        ({
          name,
          position,
          startDate,
          endDate,
          summary,
          schema,
          highlights,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null
              ? new Date(endDate).getFullYear()
              : "present";

          const years = `${startYear} - ${endYear}`;
          return (
            <li>
              <article>
                <header>
                  <section>
                    <div>
                      <h3>{name}</h3>
                      <ul>
                        <li>{schema}</li>
                        {highlights.map((item) => {
                          return <li>{item}</li>;
                        })}
                      </ul>
                    </div>
                    <h4>{position}</h4>
                  </section>
                  <time>{years}</time>
                </header>
                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  section div {
    display: flex;
    flex-direction: row;
    gap: 4px;

    align-items: center;
  }
  section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  section li {
    background-color: #ddd;
    font-size: x-small;
    color: black;
    border-radius: 6px;
    padding: 0.1rem 0.25rem;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 4px;
  }
  article h3 {
    font-weight: 500;
    color: #111;
  }
  article h4 {
    font-weight: 400;
    color: #222;
    margin-top: 2px;
  }
  time {
    font-size: 0.85rem;
    color: #666;
  }
</style>
