---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import X from "@/icons/X.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import WorldMap from "@/icons/WorldMap.astro";
import Printer from "@/icons/printer.astro";

const { name, label, image, location, profiles, phone, email } =
  basics;
const { city, region } = location;

const SOCIAL_ICONS: Record<string, any> = {
  X: X,
  LinkedIn: LinkedIn,
  GitHub: GitHub,
  Portfolio: WorldMap,
};

const linkedInUrl =
  profiles?.find((p) => p.network === "LinkedIn")?.url || null;
const githubUrl =
  profiles?.find((p) => p.network === "GitHub")?.url || null;
const portfolioUrl =
  profiles?.find((p) => p.network === "Portfolio")?.url || null;

const printInfo = [email, phone, linkedInUrl, githubUrl].join(" • ");
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <WorldMap />
        {city}, {region}</span
      >
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer">
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llammar por telefono a ${name} al correo ${phone}`}
              target="_blank"
              rel="noopener noreferrer">
              <Phone />
            </a>
          )
        }
        {
          profiles &&
            profiles.map((profile) => {
              const Icon = SOCIAL_ICONS[profile.network];
              return (
                <a
                  href={profile.url}
                  title={`Visitar el perfil de ${name} en ${profile.network}`}
                  target="_blank"
                  rel="noopener noreferrer">
                  <Icon />
                </a>
              );
            })
        }
        {
          (
            <a
              href="#"
              onclick="window.print();return false;"
              title={`imprimir CV de ${name}`}
              target="_blank"
              rel="noopener noreferrer">
              <Printer />
            </a>
          )
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #444;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1/1;
    border-radius: 6px;
    width: 128px;
    object-fit: cover;
  }

  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    color: #666;
    letter-spacing: -0.05rem;
  }

  footer {
    font-size: 0.5rem;
    color: #555;
    line-height: 2;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
    transform: translateY(-2px);
  }

  @media (max-width: 450px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    img {
      aspect-ratio: 1/1;
      border-radius: 6px;
      width: 256px;
      object-fit: cover;
    }
    footer {
      justify-content: center;
    }
  }
</style>
